@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../sfonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.w {
    width: 1200px;
    margin: auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

/* 快捷导航模块 */
.shortcut {
    font-size: 12px;
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut .sign_in {
    margin: 0 13px;
}
.shortcut .sign_up {
    color: #c81623;
}
.downarr::after {
    font-family: 'icomoon';
    content: '\e91e';
    margin-right: 13px;
    margin-left: -11px;
}
.veg li a{
    padding: 0 13px;
    border-left: 1px solid gray;
}
.veg li:first-child a {
    border-left: none;
}

/* 搜索栏 */
.search {
    position: relative;
    height: 56px;
    margin-top: 25px;
}
/* 可以把h1浮动脱标或者转换为块或行内块，再指定h1的大小来防止占用一行 */
/* 但是也可以不指定h1,让他的孩子脱标，那么h1的大小就会自动变成0，节省代码 */

.search h1 a{
    position: absolute;
    display: block;
    width: 175px;
    height: 56px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -99999999px;
    overflow: hidden;
}

.search_input {
    position: absolute;
    left: 348px;
    width: 542px;
    height: 100%;
}
.search_input input {
    float: left;
    width: 458px;
    height: 37px;
    border: 2px solid #b1191a;
    outline: none;
    box-sizing: border-box;
    text-indent: 10px;
}
.search_input button {
    float: left;
    width: 84px;
    height: 37px;
    background-color: #b1191a;
    outline: none;
    border: #b1191a;
    line-height: 37px;
    text-align: center;
    font-size: 16px;
    color: #c1c1c1;
}
.search ul li {
    margin: 0 10px;
    font-size: 12px;
}

.search .shopcart {
    position: absolute;
    right: 60px;
    width: 140px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;

}
.search .shopcart a{
    line-height: 36px;
    margin-left: 43px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.search .shopcart span:first-child{
    position: absolute;
    top: 7px;
    left: 12px;
    /* vertical-align: middle;为什么这个不管用？ */
    width: 25px;
    height: 20px;
    background: url(../images/icons.png) no-repeat -413px -86px;   
}
.search .shopcart::after {
    position: absolute;
    top: 11px;
    right: 6px;
    font-family: 'icomoon';
    content: '\e920';
}
.search .shopcart .info {
    position: absolute;
    top: -8px;
    left: 105px;
    display: block;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 8px 8px 8px 0;
    background-color: #e60012;
    color: #fefefe;
}

/* 导向栏部分 */
.way {
    position: relative;
    top: 25px;
    height: 47px;
    box-sizing: border-box;
    border-bottom: 2px solid #b1191a;
}

.way .dropdown header{
    position: absolute;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
    color: #fff;
    text-align: center;
    /* 为什么line-height用继承没有办法生效？ */
    line-height: 45px;
    font-size: 16px;
}
.dropdown div ul{
    position: absolute;
    top: 48px;
    width: 210px;
    /* height: 465px; */
    
}
.smallnav {
    display: none;
}
.smallnav li {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding-left: 12px;
    border-left: 2px solid #e60012;
    background-color: #c81623;
    line-height: 31px;
    font-size: 14px;
}
.smallnav li a{  
    color: #f1f1f1;
}

.smallnav li a::after {
    position: absolute;
    top: 2px;
    right: 3px;
    font-family: 'icomoon';
    content: '\e920';
}

.smallnav li:hover {
    background-color: #fff;
}
.smallnav li:hover a {
    color: #c81623;
}


.way .specific {
    position: absolute;
    /* 这种写法没有兼容性 */
    left: 490px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #333;
}

.way .specific li {
    float: left;
    margin-right: 51px;  
}

/* 底部模块 */
.last {
    width: 100%;
    height: 418px;
    margin-top: 30px;
    background-color: #f5f5f5;

}
.last header {
    height: 112px;
    border-bottom: 2px solid #ededed;
}
.last section {
    margin-top: 10px;
    margin-left: 45px;
    float: left;
    width: 170px;
    height: 53px;
}
.last .box {
    float: left;
    width: 53px;
    height: 53px;
    background: url(../images/icons.png) no-repeat -251px 1px;
}
.last .box h5 {
    margin-top: 8px;
    text-indent: 6px;
    font-size: 14px;
    color: #333;
}
.last p {
    margin-top: 8px;
    text-indent: 6px;
    font-size: 12px;
    color: #666666;
}
.last nav {
    position: relative;
    height: 188px;
    border-bottom: 2px solid #ededed;
}

.last nav dl {
    float: left;
    width: 198px;
    margin-top: 20px;
    
}

.last nav dl dt {
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 700;
    color: #333;

}
.last nav dl dd {
    font-size: 12px;
    color: #666666;
}
.last nav dl:first-child {
    margin-left: 53px;
}

.last .dpic {
    position: absolute;
    right: 100px;
    top: 21px;
    width: auto;
    height: 100%;
}
.last h6 {
    margin-left: 13px;
    font-size: 16px;
    font-weight: 700;
    color: #333;    
}
.last img {
    margin-bottom: 9px;
    width: 85px;
    height: 85px;
}
.last .dpic p {
    font-size: 12px;
    color: #333;
}

.last footer ul{
    margin-left: 95px;
    margin-top: 20px;
}
.last footer ul li {
    float: left;
    padding-left: 16px;
    padding-right: 16px;
    border-left:1px solid #666666 ;
    font-size: 12px;
    color: #666666;
}
.last footer p {
    text-align: center;
}